h1 {
    text-align: center;
}


.App {
    font-family: Sans-Serif;
    display: flex;
    flex-direction: column;
}

.tables {
    display: flex;
    flex-direction: row;
}

.ChartCont {
    width: 33.333333333%;
    border: 10px solid #CCCCCC;
    box-sizing: border-box;
    float: left;

}

